@import 'vars';

/* theme settings */
$themes: (
  "light": (
    "color-bg": #fff,
    "color-list-bg": #fff,
    "color-list-text": $dark-grayish-blue,
    "color-text-light": $dark-grayish-blue,
    "color-list-text-completed": $light-grayish-blue,
    "color-input-placeholder": $dark-grayish-blue,
    "color-input": $very-dark-grayish-blue, 
    "color-path": $very-dark-grayish-blue,
    "color-btn":$dark-grayish-blue,
    "color-btn-hover": $very-dark-grayish-blue,
    "color-btn-active": $bright-blue,
    "border": 1px solid hsl(236, 33%, 92%), 
    "shadow": 0px 35px 50px #C2C3D680,
  ),
  "dark": (
    "color-bg": $very-dark-blue,
    "color-list-bg": $very-dark-desaturated-blue,
    "color-list-text": $light-grayish-blue,
    "color-text-light": $very-dark-grayish-blue,
    "color-list-text-completed": $very-dark-grayish-blue,
    "color-input-placeholder": $very-dark-grayish-blue,
    "color-input": $light-grayish-blue-hover,
    "color-path": $light-grayish-blue-hover,
    "color-btn": $dark-grayish-blue,
    "color-btn-hover": $light-grayish-blue-hover,
    "color-btn-active":$bright-blue,
    "border": 1px solid hsl(237, 14%, 26%),
    "shadow": 0px 35px 50px #00000080,
  )
); 

@mixin apply-theme-color($key, $color) {
  @each $theme-name, $theme-color in $themes {
    .#{$theme-name} & {
      #{$key}: map-get(map-get($themes, $theme-name), $color )
    }
  }
}

$theme-list: light dark;

@mixin backgroundImg {
  @each $theme in $theme-list {
    .#{$theme} & {
      background: url('/assets/images/bg-desktop-'+$theme+'.jpg');
      background-size: 100% auto;
      background-repeat: no-repeat;
      @include mobile {
        background: url('/assets/images/bg-mobile-'+$theme+'.jpg');
        background-size: 100% auto;
        background-repeat: no-repeat;
      }
    }
  }
}