@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import 'mixins';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif; 
}

ul {
  list-style: none;
}

button, li {
  outline-color: hsl(280, 87%, 65%);
}

/* LAYOUT
 --------------------*/

.container {
  min-height: 100vh;
  width: 100vw;
  &.light {
    background: #fafafa;
    background-image: url('../assets/images/bg-desktop-light.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    @include mobile {
      background-image: url('../assets/images/bg-mobile-light.jpg');
    }
  }
  &.dark {
    background: #171823;
    background-image: url('../assets/images/bg-desktop-dark.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    @include mobile {
      background-image: url('../assets/images/bg-mobile-dark.jpg');
    }
  }
}

.main {
  max-width: 540px;
  margin: auto;
  display: flex;
  flex-direction: column;
  @include mobile {
    max-width: 90%;
  }
}

/* HEADER 
 --------------------*/

.header {
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 50px;
  .title {
    letter-spacing: 15px;
    font-size: 40px;
    font-weight: 700;
  }
}

.btn-switch {
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 25px;
  height: 25px;
}

/* Form  
 --------------------*/

.input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  &.light{
    background: white;
    box-shadow: 0px 35px 50px #C2C3D680;
    input:focus {
      color: #393A4B;
    }
  } 
  &.dark{
    background: #25273D;
    box-shadow: 0px 35px 50px #00000080;
    input {
      color: #4D5067;
      &::placeholder {
        color: #767992
      }
    }
  }
}

input {
  font-size: 18px;
  letter-spacing: -0.25px;
  background-color: transparent;
  border-color: transparent;
  width: 100%;
  position: relative;
  &::placeholder {
    color: #9495A5;
  }
}

input:focus {
  outline: pink;
}

.input-check {
  display: inline-block;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin-right: 10px;
  background: transparent;
  &.light {
    border: 1px solid #E3E4F1;
  }
  &.dark {
    border: 1px solid #393A4B;
  }
}

/* LIST
--------------------*/
.todo-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 540px;
  margin-top: 25px;
  border-radius: 5px;
  min-height: 300px;
  &.light{
    background: white;
    box-shadow: 0px 35px 50px #C2C3D680;
  } 
  &.dark{
    background: #25273D;
    box-shadow: 0px 35px 50px #00000080;
  }
}

.todo-item{
  position: relative;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
  letter-spacing: -0.25px;
  &.completed {
    text-decoration: line-through;
    &.light {
      color: #D1D2DA;
    }
    &.dark {
      color: #4D5067;
    }
  }
  &:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  &.light {
    color: #393A4B;
    border-bottom: 1px solid #E3E4F1;
  }
  &.dark {
    color: #C8CBE7;
    border-bottom: 1px solid #393A4B;
  }
  .description {
    display: flex;
    align-items: center;
  }
  .item-check-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .item-check {
    display: inline-block;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background: transparent;
    &.completed {
      background: url('../assets/images/icon-check.svg'), linear-gradient(135deg, hsl(192, 100%, 67%),hsl(280, 87%, 65%));
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .complete-icon {
    transition: opacity 0.5s ease-in-out;
    background: transparent;
    border: none;
    opacity: 0;
    cursor: pointer;
    &.light > path {
      fill: #494C6B;
    }
    &.dark > path {
      fill: #5B5E7E;
    }
  }
  &:not(:hover) {
    .item-check:not(.completed) {
      &.light {
        border: 1px solid #E3E4F1;
      }
      &.dark {
        border: 1px solid #393A4B;
      }
    }
  }
  &:hover {
    .complete-icon {
      opacity: 1;
    }
    .item-check-wrapper {
      background: linear-gradient(135deg, hsl(192, 100%, 67%),hsl(280, 87%, 65%));
      .item-check {
        &:not(.completed) {
          width: 22px;
          height: 22px;
          &.light {
            background-color: #fff;
          }
          &.dark {
            background-color: #25273D;
          }
        }
      }
    }
  }
}

.todo-list-footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .items-left {
    display: block;
    width: 100px;
    color: #9495A5;
    font-size: 14px;
    letter-spacing: -0.25px;
  }
  .filter-wrapper {
    @include mobile {
      display: none;
    }
  }
}

.btn-clear {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  &:focus {
    border: none;
  }
  &.light {
    color: #9495A5;
  }
  &.dark {
    color: #5B5E7E;
  }
}

/* FILTER
--------------------*/
.filter-wrapper {
  display: flex;
  width: 166px;
  justify-content: space-between;
  .filter-option{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    border: none;
    &:focus {
      border: none;
    }
    &.light {
      color: #9495A5;
      &.selected {
        color: #3A7CFD;
      }
    }
    &.dark {
      color: #5B5E7E;
      &.selected {
        color: #3A7CFD;
      }
    }
  }
  @include mobile {
    width: 100%;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
    .filter-option {
      margin-right: 20px;
    }
    justify-content: center;
    &.light{
      background: white;
      box-shadow: 0px 35px 50px #C2C3D680;
    } 
    &.dark{
      background: #25273D;
      box-shadow: 0px 35px 50px #00000080;
    }
  }
}

.filter-mobile {
  @include tablet {
    display: none;
  }
}

/* INFO
--------------------*/
.dnd-info {
  display: block;
  margin: 40px auto;
  &.light {
    color: #9495A5;
  }
  &.dark {
    color:  #5B5E7E;
  }
}